// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

//Font icon
.fa {
    font-family: 'FontAwesome';
}

.action-bar-title {
    font-family: 'Cabin';
    font-weight: bold;
}

.btn {
    color: $white;
    font-family: 'Cabin';
    font-weight: bold;
    font-size: 20;
    border-radius: $border-radius;

    &-primary {
        background-color: $green;
    }

    &-secure {
        color: $white;
        font-size: 18;
    }
}

.text-bold {
    font-weight: bold;
}

.form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 1;
    vertical-align: middle;

    .input-field {
        margin-bottom: 25;
        .input {
            color: $white;
            font-family: 'Cabin';
            padding-left: 5;
            placeholder-color: $orange-light;

            &:disabled {
                background-color: white;
                opacity: 0.5;
            }
        }

        .label {
            font-family: 'Cabin';
            font-weight: bold;
            font-size: 20;
            color: $white;
            margin-bottom: 5;
        }
    }
}
